<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>

		<h2>Please Login</h2>

		<form method="POST" action="/login" data-th-object="${authForm}">
			<table>
				<tr>
					<td> 
						<label for="username">Username:</label> 
					</td>
					<td>
						<input data-th-field="*{username}" type="text" id="username" size="30" 
								placeholder="Please type in your username">
						<div data-th-if="${#fields.hasErrors('username')}">
							<span data-th-errors="*{username}" style="color: red; font-family: monospace;"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password:</label>
					</td>
					<td>
						<input data-th-field="*{password}" type="password" id="password" size="30" 
								placeholder="Please type in your password">
						<div data-th-if="${#fields.hasErrors('password')}">
							<span data-th-errors="*{password}" style="color: red; font-family: monospace;"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit">Login</button>
					</td>
				</tr>
			</table>
		</form>
		
	</body>
</html>
